<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{subject}}</title>
  </head>
  <body>
    <div class="container">
      <h1>{{translate "Hello"}} {{user.first_name}},</h1>
      <p>{{translate "This is to inform you that you can now checout and get a free delivery as you have reached the free delivery limit:)."}}</p>
    <p>{{translate "You can visit your shopping cart here "}}<a href={{url}}>{{translate "link"}}</a>.</p>
    </div>
  </body>
</html>
