<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{subject}}</title>
  </head>
  <body>
    <div class="container">
      <h1>{{translate "Hello"}} {{user.givenName}},</h1>
      <p>{{translate "We've received a request to reset your password. If you didn't make the request, just ignore this email."}}</p>
    <p>{{translate "You can reset your password "}}<a href={{url}}>{{translate "here"}}</a>.</p>
    <p>{{translate "Thanks"}}</p>
    <p>{{translate "the sebafresh team"}}</p>
    </div>
  </body>
</html>
