<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{subject}}</title>
  </head>
  <body>
    <div class="container">
      <h1>{{translate "Hello"}} {{user.first_name}},</h1>
      <p>{{translate "We have sent you this email because you've invited to sebafresh by "}} {{inviter}}</p>
    <p>{{translate "You can join sebafresh by clicking this "}}<a href={{url}}>{{translate "link"}}</a>.</p>
    </div>
  </body>
</html>
