<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{subject}}</title>
  </head>
  <body>
    <div class="container">
      <h1>{{translate "Hello"}} {{receiver.displayName}},</h1>
      <p>{{translate "Your shopping cart was successfully ordered by your group member "}} {{payer.displayName}}</p>
    <p>{{translate "You can pay your share by clicking the link "}}<a href={{url}}>{{translate "link"}}</a>.</p>
    </div>
  </body>
</html>
