<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{subject}}</title>
  </head>
  <body>
    <div class="container">
      <h1>{{translate "Hello"}},</h1>
      <p>{{translate "We have sent you this email because you registered to sebafresh."}}</p>
    <p>{{translate "You can verify your email address by clicking this "}}<a href={{url}}>{{translate "link"}}</a>.</p>
    </div>
  </body>
</html>
